:root {
  --popup_pad_size: 10px;
  --banner_color_bg: #900;
  --banner_color: rgb(255, 255, 255);
}

body {
  width: 400px;
  height: 300px;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
}
#view_all_btn {
  border-radius: 4px;
  width: 80px;
  height: 28px;
  font-size: 16px;
}
#track_work_title {
  margin: 0;
}
#sub_content_margin {
  margin: 10px 0;
}
.ao3-button {
  background: #eee;
  color: #444;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.286;
  display: inline-block;
  padding: 0.25em 0.75em;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid #bbb;
  border-bottom: 1px solid #aaa;
  border-radius: 0.25em;
  cursor: pointer;

  /* gradient */
  background-image: linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
}
#popup_size_div {
  display:flex;
  flex-direction: column;
}
#extension_name {
  margin: 0px;
}
.flex {
  display: flex;
  align-items: center;
}
#banner {
  background-color: var(--banner_color_bg);
  overflow: hidden;
  padding: var(--popup_pad_size);
  color: var(--banner_color);
}
#banner button{
  color: var(--banner_color);
}
#popup_main_div {
  padding: 0px var(--popup_pad_size);
}
#header_action_div {
  display: flex;
  gap: 5px;
}
.workTitles {
  font-style: italic;
  font-size: 18px;
  margin: 0px;
}
.descDiv {
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70%;
  text-overflow: ellipsis;
}
.actionsDiv {
  flex: 0 0 auto;
  gap: 5px;
}
.dynamic_ele_div {
  padding: 2px;
}
.flex_between {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btn_with_icon {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border:none;
}