* {
    font-family: Arial, Helvetica, sans-serif;
}

.flex_col_center {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_center {
    display: grid;
    align-items: center;
    justify-content: center;
}
.graph_div {
    padding: 10px;
    border-radius: 3%;
    /*border: 3px red solid*/
}
.graph_div h3{
    margin: 0;
    margin-bottom: 10px;
}
#kudo_per_day_graph_div {
    background-color: rgb(255, 239, 239);
}
#hit_per_day_graph_div {
    background-color: rgb(233, 249, 255);
}
#stat_flex {
    display: flex;
    gap: 10px;
}
#stat_content {
    /*background-color: lavender;*/
}
#main_div {
    gap: 10px;
    margin: 40px;
}

#track_btn {
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
}
#track_btn:active {
    background-color: white;
}
#basic_stat {
    margin-bottom: 15px;
}
#graph_gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
#link_form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#link_input {
    font-size: 18px;
    margin: 10px;
}

